/Potholev2/YOLOv9c/VersaoFinal/weights
/Potholev2/YOLOv9s/VersaoFinal/weights
/Potholev2/YOLOv9t/VersaoFinal/weights
/Potholev2/YOLOv9m/VersaoFinal/weights
/Potholev2/test
/Potholev2/train
/Potholev2/valid
